/bin
/boot
/dev/
/etc/DIR_COLORS
/etc/X11/
/etc/adjtime
/etc/bash/
/etc/bindresvport.blacklist
/etc/ca-certificates.conf
/etc/clang/
/etc/conf.d/
/etc/cron.daily/
/etc/csh.env
/etc/dbus-1/
/etc/default/
/etc/dhcpcd.conf
/etc/dispatch-conf.conf
/etc/dmtab
/etc/dracut.conf
/etc/dracut.conf.d/
/etc/e2fsck.conf
/etc/e2scrub.conf
/etc/elogind/
/etc/env.d/
/etc/environment
/etc/environment.d/
/etc/etc-update.conf
/etc/exports
/etc/exports.d/
/etc/filesystems
/etc/fonts/
/etc/fstab
/etc/gai.conf
/etc/gentoo-release
/etc/group
/etc/group-
/etc/grub.d/
/etc/gshadow
/etc/gshadow-
/etc/gtk-3.0/
/etc/host.conf
/etc/hosts
/etc/idmapd.conf
/etc/init.d/
/etc/inittab
/etc/inittab.d/
/etc/inputrc
/etc/issue
/etc/issue.logo
/etc/kernel/
/etc/ld.so.cache
/etc/ld.so.conf
/etc/ld.so.conf.d/
/etc/lessfilter.d/
/etc/libblockdev/
/etc/local.d/
/etc/localtime
/etc/login.defs
/etc/logrotate.d/
/etc/lsb-release
/etc/machine-id
/etc/man_db.conf
/etc/mime.types
/etc/mke2fs.conf
/etc/mtab
/etc/nanorc
/etc/netconfig
/etc/networks
/etc/nsswitch.conf
/etc/ntp.conf
/etc/os-release
/etc/pam.d/
/etc/passwd
/etc/passwd-
/etc/polkit-1/
/etc/profile
/etc/profile.d/
/etc/profile.env
/etc/protocols
/etc/python-exec/
/etc/rc.conf
/etc/request-key.conf
/etc/request-key.d/
/etc/resolv.conf
/etc/rhashrc
/etc/rmt
/etc/rpc
/etc/rsyncd.conf
/etc/runlevels/
/etc/sandbox.conf
/etc/sandbox.d/
/etc/security/
/etc/services
/etc/sgml/
/etc/shadow
/etc/shadow-
/etc/shells
/etc/skel/
/etc/ssh/
/etc/ssl/
/etc/subgid
/etc/subgid-
/etc/subuid
/etc/subuid-
/etc/sysctl.d/
/etc/syslog.conf
/etc/syslog.d/
/etc/systemd/
/etc/udev/
/etc/udisks2/
/etc/vim/
/etc/w3m/
/etc/wgetrc
/etc/xattr.conf
/etc/xdg/
/etc/xinetd.d/
/etc/xml/
/home/
/lib
/lib64
/media/
/opt/
/proc/
/root/
/run/
/sbin
/sys/
/tmp/
/usr/
/var/
/.viminfo
/.lesshst
*.swp
*.lock
